matplotlib==3.6.0
nltk==3.8.1
numpy==1.24.3
pandas==2.1.1
scikit_learn==1.1.3
seaborn==0.13.0
spacy==3.7.2
spacy_spanish_lemmatizer==0.7
tensorflow==2.11.0
tensorflow_intel==2.11.0
xgboost==1.7.4
